configuration {
    show-icons: true;
    display-drun: "Applications";
    display-run: "Commands";
    display-window: "Windows";
    display-combi: "Search";
    modi: "combi,drun,run,window";
    combi-modi: "drun,run,window";
}

@theme "gruvbox-dark-hard-custom"
